:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  background: 
    radial-gradient(circle at top, rgba(255, 0, 0, 0.25), transparent 60%),
    radial-gradient(circle at bottom, rgba(0, 150, 255, 0.25), transparent 60%),
    linear-gradient(135deg, #0f0c29, #302b63, #24243e);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #9aa4ff;
  text-decoration: inherit;
}

a:hover {
  color: #b3bbff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  border-color: #ff3c3c;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
  }

  button {
    background-color: #1a1a1a;
  }
}
